*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background-image: url(../static/Picture/photo-1636921102630-365bb27ea7ed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.box{
    width: 320px;
    height: 440px;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    margin: -125px 0 0 -125px;
    text-align: center;
    background: white;
}
.top{
    margin-top: 20px;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}
.text{
    margin-top: 15px;
}
.mid{
    margin-top: 30px;
}
.email{
    width: 80%;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.password{
    margin-top: 10px;
}
.enter{
    width: 80%;
    height: 35px;
    border-radius: 7px;
    border: none;
    background: rgb(29, 29, 255);
    margin-top: 30px;
    color: white;
}
.create{
    transition: .3s ease;
    width: 80%;
    height: 35px;
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 15px;
}
.bottom{
    margin-top: 30px;
}
.log_in{
    color: grey;
}
.img_log_in{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 40px;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(182, 182, 182);
}
.img{
    display: flex;
    align-items: center;
    margin-left: 35px;
}