.btn {
   height: 43px;
   padding: 0 13px;
   // padding: 13px 50px;
   font-size: 14px;
   border: 2px solid #2C00FF;
   border-radius: 13px;
   background: #fff;
   color: #000;
   transition: color .3s linear, background .3s linear;

   &:hover {
      color: #fff;
      background: #2C00FF;
   }

   &+& {
      margin-left: 15px;
   }

   &-cart {
      margin-left: 15px;
   }

}

@media (max-width: 575px) {
   .btn {
      height: 25px;
   }
}