.cart {
   padding: 53px 0;
   position: relative;


   &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      &-left {
         font-size: 30px;
      }

      &-right {
         display: flex;
         align-items: center;
         grid-gap: 20px;

         img {
            width: 35px;
            height: auto;
            cursor: pointer;
         }

         label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 30px;

            input {
               margin-left: 15px;
               width: 25px;
               height: 25px;
            }
         }
      }
   }

   &-mid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;



      &-item {
         &.active {
            border: 1px solid #2C00FF;
         }

         box-shadow: 0 10px 11px rgba($color:#2C00FF, $alpha: 0.37);
         border-radius: 22px;
         padding: 20px;
         display: flex;
         align-items: flex-start;
         position: relative;

         & .favorite-img {
            position: absolute;
            top: 15px;
            right: 20px;
            z-index: 10;
            cursor: pointer;
            width: 30px;
            height: auto;
         }


         & .img {
            display: block;
            width: 100px;
            height: 100px;
            overflow: hidden;
            background: gray;
            margin-right: 10px;

            img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }

         & .content {
            width: 100%;


            & .title {
               font-size: 25px;
            }

            & .price {
               font-size: 14px;
            }

            & .change {
               display: flex;
               align-items: center;
               justify-content: flex-end;
               margin-right: 10px;
            }
         }
      }
   }

   @media (max-width: 982px) {
      &-mid {
         grid-template-columns: repeat(1, 1fr);

      }
   }

   @media (max-width: 575px) {
      &-top {
         display: block;

         &-left {
            font-size: 25px;

         }

         &-right {
            margin-top: 10px;

            label {
               font-size: 25px;
            }
         }
      }

      &-mid {
         &-item {
            padding: 10px;

            & .favorite-img {
               width: 25px;
               right: 10px;
            }
         }
      }

      & .img {
         height: auto;
      }

      & .content {
         & .title {
            font-size: 16px;
         }

         & .change {
            justify-content: flex-start;
            margin: 5px 0;
         }
      }
   }
}