* {
   &::selection {
      background: #6a00b1;
      color: white;
   }

   @import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto:wght@300;400&display=swap');
   font-family: 'Qahiri',
   sans-serif;

}

.none_card {
   cursor: no-drop;
}

.header {
   position: fixed;
   top: 0;
   width: 84%;
   z-index: 100;
}

.item {
   width: 348px;
   height: 62px;
   background-color: #7000FF;
   margin-top: 20px;
   display: block;
   border-radius: 12px;
   overflow: hidden;
   z-index: 8;

   // &:hover {
      .add {
         display: flex;
         transform: translateY(0px);
         cursor: pointer;
      }

}

.add .item_add {
   background-color: white;
   border-radius: 50%;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 10px;
}

.add {
   display: flex;
   transition: .4s ease-in;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 110px;
   right: 10px;
   z-index: 11;
   transform: translateX(150px);
}

.add .item_add img {
   height: 35px;
   width: 35px;

   &:hover {
      cursor: pointer;
   }
}

.main_1 {
   // display: flex !important;
   margin-top: 100px;
}

.main_1 header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 250px;
}

.main_1 header .left-side {
   width: fit-content;
}

.main_1 header .left-side .category {
   display: flex;
}

.main_1 header .left-side .category h1 {
   font-weight: 400;
   font-size: 27px;
}

.main_1 header .left-side .category img {
   width: 27px;
   margin-right: 13px;
   cursor: pointer;
}

.main_1 header .left-side ol li {
   list-style-type: none;
   width: fit-content;
   margin-bottom: 7px;
}

.main_1 header .left-side ol li:nth-child(1) {
   margin-top: 19px;
}

.main_1 header .left-side ol li:hover {
   text-decoration: underline;
   cursor: pointer;
}





* {
   font-family: 'Gilroy';
}

.container {
   width: 84%;
   margin: 20px auto;
}



.carousel {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #000;
   border-radius: 27px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.537);
}

.carousel .item {
   z-index: 2;
   transition: .3s ease;
   position: absolute;
   display: none;
   justify-content: center;
   align-items: center;
   opacity: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   color: #fff !important;
   transform: translateX(-150px) !important;
   margin: 0;
}

.carousel .item.active {
   display: flex;
   opacity: 1;
   transform: translateX(0px) !important;
}

.main_1 header .mid-side button {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: transparent;
   border: none;
   filter: invert(100%);

}

.main_1 header .mid-side button img {
   width: 50px;
   height: 50px;


}

.main_1 header .mid-side {
   position: relative;
   display: flex;
   width: 55%;
   height: 100%;
}

.main_1 header .mid-side .buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   width: 100%;
   position: relative;
   z-index: 10;
}

.main_1 header .mid-side button:hover {
   cursor: pointer;
}

.main_1 header .right-side a {
   margin: 5px;
   text-decoration: none;
   color: white;
   display: inline-block;
   width: 300px;
   height: 63px;
   border-radius: 13px;
   background: rgb(86, 0, 255);
   background: linear-gradient(180deg, rgba(86, 0, 255, 1) 0%, rgba(121, 0, 255, 1) 100%);
   box-shadow: 0px 8px 15px 0px rgba(93, 0, 255, 0.755);
   padding: 20px;

   &:hover {
      cursor: pointer;
      transform: translateY(-7px) scale(1.1);
   }
}

.main_1 header .right-side {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-around;
}

.wrapper {
   width: 100%;
   // margin-top: 32px;
   margin: 32px auto;
}

.wrapper h1 {
   font-weight: 500;
}

.wrapper .box .item {
   width: 100%;
   height: 350px;
   border-radius: 14px;
   margin-top: 19px;
   background-color: transparent;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.wrapper .box .item .bottom {
   width: 100%;
   position: absolute;
   height: 100px;
   bottom: 0;
   background-color: #2C00FF;
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 14px;
   color: white;
   display: flex;
   flex-direction: column;
   padding: 11px 14px;
}

.wrapper .box .item .bottom p {
   text-align: end;
   position: absolute;
   bottom: 10px;
   right: 10px;
}

.wrapper .box .item .bottom h4 {
   font-size: large;
}

.wrapper .box .item .bottom h5 {
   font-weight: 100;
}

.wrapper .box .item .top {
   background-position: center !important;
   background-size: contain !important;
   background-repeat: no-repeat;
   height: calc(100% - 40px);
}

.wrapper .box {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin: 0 auto;
   grid-gap: 20px;
}

.name-money {
   color: white;
}

.right-side a {
   transition: .3s ease;

   &:hover {
      // box-shadow: ;
      transform: scale(1.1);
   }
}

.favorite-link {
   position: relative;
}

.heart-num {
   position: absolute;
   top: 5px;
   right: -5px;
   // left: 100%;
   z-index: 1;
   font-size: 11px;
   color: #2C00FF;
   font-weight: 700;
   background: #fff;
   // padding: 2px;
   border-radius: 18px;
}

.cart-link {
   position: relative;
}




.heart-num {
   padding: 4px 7px;

}

.none-find {
   display: none;
}

.show_more {
   margin-top: 50px;
   width: 100%;
   display: flex;
   justify-content: center;
}

.header {
   height: 80px;

   .link {
      height: 100%;
   }
}

.cart-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 100%;
}

.favorite-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 100%;

   &:hover {
      .heart_box {
         opacity: 1;
         visibility: visible
      }
   }
}

.heart_box {
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   width: 300px;
   height: auto;
   max-height: 500px;
   padding: 10px;
   border: 1px solid #2C00FF;
   background: #fff;
   position: absolute;
   top: 100%;
   left: 50%;
   z-index: 10;
   transform: translateX(-50%);
   display: grid;
   grid-gap: 15px;


}


.heart_item {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   grid-gap: 5px;

   &:hover {
      background: #ccc;
   }
}

.heart_img {
   grid-column: 1/2;
   grid-row: 1/3;
   width: 100%;
   height: auto;
}

.heart_name {
   grid-column: 2/4;
}

.heart_price {
   grid-column: 2/4;
}