* {
    &::selection {
        background: #6a00b1;
        color: white;
    }

    padding: 0;
    margin: 0;

}

.container {
    width: 84%;
    margin: 100px auto;
}

.main {
    width: 100%;
    margin-top: 36px;
    height: 600px;
    display: flex;

    .product {
        width: 60%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        grid-gap: 20px;
        margin-right: 25px;

        .prod {
            &:last-child {
                grid-column-start: 4;
                grid-column-end: 2;
                height: 100%;
                grid-row-start: 4;
                grid-row-end: 1;
                position: relative;
            }

            height: 200px;

            // background-color: #2200ff;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 25px;
            box-shadow: 0px 5px 16px 0px rgba(128, 0, 255, 0.6);
        }

    }

    .description {
        .delivery {
            margin-top: 40px;

            .countries {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
                margin-top: 10px;

                .country {
                    text-align: center;
                    border: 1px solid silver;
                    padding: 8px 44px;
                    transition: 0.3s ease;

                    &:hover {
                        background-color: silver;
                        cursor: pointer;
                    }

                    &.active {
                        background-color: silver;
                    }
                }
            }
        }

        .colors {
            margin-top: 30px;

            .boxColor {
                display: flex;

                .color {
                    margin: 5px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;

                    &:hover {
                        cursor: pointer;
                    }

                    &.red {
                        background-color: red;
                    }

                    &.blue {
                        background-color: blue;
                    }

                    &.green {
                        background-color: green;
                    }

                    &.silver {
                        background-color: silver;
                    }
                }
            }
        }

        .number {
            margin-top: 30px;

            .number-col {
                height: 50px;
                display: flex;
                align-items: center;

                .post {
                    margin-left: 20px;
                    opacity: 0.8;
                }
            }

            .buttons {
                display: flex;
                margin-top: 25px;
                $bg: #7900ff;
                $text: black;
                $pink: #ffe9e9;
                $dark-pink: #7900ff60;
                $pink-border: #7900ff;
                $pink-shadow: #ffe3e2;

                * {
                    box-sizing: border-box;

                    &::before,
                    &::after {
                        box-sizing: border-box;
                    }
                }

                button {
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    border: 0;
                    margin-right: 10px;

                    &.learn-more {
                        color: $text;
                        text-transform: uppercase;
                        padding: 1.25em 2em;
                        border: 2px solid $pink-border;
                        border-radius: 0.75em;
                        transform-style: preserve-3d;
                        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
                            background 150ms cubic-bezier(0, 0, 0.58, 1);

                        &::before {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: $dark-pink;
                            border-radius: inherit;
                            box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
                            transform: translate3d(0, 0.75em, -2em);
                            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
                                box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
                        }

                        &:hover {
                            background: $pink;
                            transform: translate(0, 0.25em);

                            &::before {
                                box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
                                transform: translate3d(0, 0.5em, -1em);
                            }
                        }

                        &:active {
                            background: $pink;
                            transform: translate(0em, 0.75em);

                            &::before {
                                box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
                                transform: translate3d(0, 0, -1em);
                            }
                        }
                    }
                }

                img {
                    margin-left: 20px;
                    height: 50px;
                    margin-top: 10px;
                }
            }
        }
    }
}

.plus-minus {
    display: flex;
    align-items: center;

    .round {
        border: 1px solid #6a00b1;
        width: fit-content;
        padding: 5px 13px;
        border-radius: 50%;
        font-size: 25px;
        transition: 0.3s ease;

        &:hover {
            cursor: pointer;
            color: white;
            background-color: #6a00b1;
        }

        &:first-child {
            margin-right: 20px;
        }

        &:last-child {
            margin-left: 20px;
        }
    }

    .col {
        font-size: 20px;
    }
}

.header {
    padding: 8px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px 10px rgba(86, 0, 255, 0.2);
    background: linear-gradient(180deg, #5600ff 0, #7900ff 100%);
}

.logo a {
    color: white;
}

.logo {
    color: white;
    font-size: 25px;
    margin-right: 15px;
    width: fit-content;
}

.logo_none {
    display: none;
}

.header form {
    width: 50%;
    /* margin-left: -200px; */
    height: 51px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    align-items: center;
    padding-right: 0;
}

.container .header form input {
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 21px;
    width: 100%;
}

.container .header form input::placeholder {
    color: black;
    opacity: 0.5;
    font-size: 21px;
}

.container .header form button {
    width: 64px;
    height: 51px;
    background-color: #2200ff;
    border: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .header form button img {
    filter: invert(100%);
}

.link {
    width: 188px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.header-link {
    height: 38px;
    filter: invert(100%);
}

.link img {

    border-width: 2px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.name-money {
    margin-right: 15px;
}

.name-money p:nth-child(1) {
    font-size: 22px;
    font-weight: 500;
}

.none_search {
    display: none;
}

.none_search form {
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 5px 15px 10px rgba(86, 0, 255, 0.2);
    height: 51px;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    align-items: center;
    padding-right: 0;
}

.none_search form input {
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 21px;
    width: 100%;
}

.none_search form input::placeholder {
    color: black;
    opacity: 0.5;
    font-size: 21px;
}

.none_search form button {
    width: 64px;
    height: 51px;
    background-color: #2200FF;
    border: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none_search form button img {
    filter: invert(100%);
}

// Media

@media only screen and (max-width: 1500px) {
    .wrapper .box {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper .box {
        grid-template-columns: repeat(3, 1fr) !important;
    }

}

@media only screen and (max-width: 1300px) {
    .main {
        height: 500px;

        .product {
            .products-left {
                .prod {
                    width: calc(100% - 10px) !important;
                }
            }
        }
    }

    .link img {
        height: 30px !important;
    }

    .link {
        justify-content: space-around;
    }

    .none_card {
        display: none;
    }
}

@media only screen and (max-width: 970px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .main {
        height: 350px;

        .title {
            font-size: 13px;
        }

        .description {
            margin-top: 15px;

            .delivery {
                margin-top: 15px;

                .countries {
                    grid-template-columns: 1fr 1fr;

                    .country {
                        text-align: center;
                        border: 1 px solid silver;
                        padding: 6px 33px;
                        transition: 0.3s;
                    }
                }
            }

            .colors {
                margin-top: 15px;

                .boxColor .color {
                    height: 20px;
                    width: 20px;
                }
            }

            .number {
                margin-top: 15px;

                .plus-minus {
                    .round {
                        padding: 3px 10px;
                    }
                }

                .post {
                    margin-left: 20px;
                    opacity: 0.8;

                    p {
                        font-size: 14px;
                    }
                }

                .buttons {
                    margin-top: 5px;

                    .heart {
                        img {
                            margin: 0;
                        }
                    }
                }

                .buttons button.learn-more {
                    color: #000;
                    text-transform: uppercase;
                    padding: 0.5em 0.5em;
                    padding-top: 1px;
                    height: 40px;
                    border: 2 px solid #7900ff;
                    font-size: 10px;
                    border-radius: 0.75em;
                    transform-style: preserve-3d;
                    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
                }
            }
        }
    }

    .container .header form input::placeholder {
        color: black;
        opacity: 0.5;
        font-size: 16px !important;
    }

    .wrapper .box {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 830px) {
    .main .description .number .post p {
        font-size: 10px;
    }

    .logo h1 {
        display: none;
    }

    .logo_none {
        display: block;
    }

    .none_search {
        display: block;
    }

    .header form {
        display: none !important;
    }

    .profile-logo img {
        height: 45px;
        width: 45px;
    }

    .name-money p:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
    }

    .name-money p:nth-child(2) {
        font-size: 14px;
    }
}

@media only screen and (max-width: 720px) {
    .product {
        width: 100% !important;
        display: block;
        justify-content: space-between !important;

        .product-right {
            width: 78% !important;
            height: 100% !important;
        }
    }

    .main .description {
        .number .plus-minus .round {
            padding: 0px 8px;
        }

        .colors .boxColor .color {
            height: 25px;
            width: 25px;
        }

        .delivery .countries .country {
            padding: 4px 8px;
        }
    }

    .link .none_card {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper .box {
        grid-template-columns: repeat(1, 1fr) !important;

        .prod {
            margin: 0 auto;
            width: 100% !important;
        }
    }

    .main .product .products-left .prod {
        width: 70% !important;
    }
}

@media only screen and (max-width: 500px) {
    .product-right {
        width: 50% !important;
    }

    .main .product .products-left .prod {
        width: 65% !important;
    }
}

@media only screen and (max-width: 400px) {
    .main .product {
        height: 80%;

        .products-left .prod {
            border-radius: 10px;
            width: 50% !important;

        }

        .product-right {
            border-radius: 10px !important;
        }
    }

    .link {
        margin-left: 0;
    }

    .header {
        padding: 8px 10px;
    }

    .none_search form input::placeholder {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 300px) {
    .header {
        padding: 3px 5px;
    }
}