@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/Gilroy-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/Gilroy-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/static/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
}

a {
    color: #000;
    text-decoration: none;
}

button {
    cursor: pointer;
}